@font-face {
  font-family: 'markpro-bold';
  src: url("../Fonts/FontFont_FF.Mark.Pro.Bold.otf");
}

@font-face {
  font-family: 'markpro-medium';
  src: url("../Fonts/FontFont_FF.Mark.Pro.Medium.otf");
}

@font-face {
  font-family: 'markpro-regular';
  src: url("../Fonts/FontFont_FF.Mark.Pro.otf");
}

.ant-message-custom-content.ant-message-error > span:nth-child(2) {
  font-family: 'markpro-medium' !important;
  color: #162359;
}

.--underline {
  text-decoration: underline;
}

.link {
  text-decoration: none;
}

.css-1okebmr-indicatorSeparator {
  display: none;
}

.ant-modal-header {
  font-family: 'markpro-medium';
}

.ant-btn {
  font-family: 'markpro-medium';
}

.ant-picker input::placeholder {
  color: #CDD1DE !important;
}

.file_delete {
  color: red;
  font-family: 'markpro-medium';
  margin-top: 17px;
  cursor: pointer;
  margin-bottom: 4px;
}

.file_delete img {
  transition: 300ms;
  margin-right: 5px;
}

.file_delete span {
  display: inline-block;
}

.file_delete:hover img {
  transform: scale(1.2);
}

.file_delete:active img {
  transform: scale(1.1);
}

.file_delete {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}

@font-face {
  font-family: 'markpro-bold';
  src: url("../Fonts/FontFont_FF.Mark.Pro.Bold.otf");
}

@font-face {
  font-family: 'markpro-medium';
  src: url("../Fonts/FontFont_FF.Mark.Pro.Medium.otf");
}

@font-face {
  font-family: 'markpro-regular';
  src: url("../Fonts/FontFont_FF.Mark.Pro.otf");
}

.category {
  background: #F5F5F9;
  min-height: 100vh;
}

.category .choicetabcomponent {
  padding: 90px 150px;
  margin: 0 auto;
}
