@font-face {
  font-family: 'markpro-bold';
  src: url("../Fonts/FontFont_FF.Mark.Pro.Bold.otf");
}

@font-face {
  font-family: 'markpro-medium';
  src: url("../Fonts/FontFont_FF.Mark.Pro.Medium.otf");
}

@font-face {
  font-family: 'markpro-regular';
  src: url("../Fonts/FontFont_FF.Mark.Pro.otf");
}

.ant-message-custom-content.ant-message-error > span:nth-child(2) {
  font-family: 'markpro-medium' !important;
  color: #162359;
}

.--underline {
  text-decoration: underline;
}

.link {
  text-decoration: none;
}

.css-1okebmr-indicatorSeparator {
  display: none;
}

.ant-modal-header {
  font-family: 'markpro-medium';
}

.ant-btn {
  font-family: 'markpro-medium';
}

.ant-picker input::placeholder {
  color: #CDD1DE !important;
}

.file_delete {
  color: red;
  font-family: 'markpro-medium';
  margin-top: 17px;
  cursor: pointer;
  margin-bottom: 4px;
}

.file_delete img {
  transition: 300ms;
  margin-right: 5px;
}

.file_delete span {
  display: inline-block;
}

.file_delete:hover img {
  transform: scale(1.2);
}

.file_delete:active img {
  transform: scale(1.1);
}

.eventinfo__footer .--button_group .cancel, .eventinfo__footer .--button_group .next {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventinfo__footer .--button_group .cancel, .eventinfo__footer .--button_group .next {
  background: #4D75F4;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: markpro-bold;
  font-size: 15px;
}

.eventinfo__formsection textarea, .eventinfo__formsection .--wrapper input[type="text"], .eventinfo__formsection .--wrapper input[type='tel'], .eventinfo__formsection .--wrapper input[type='email'], .eventinfo__formsection .--wrapper input[type='password'] {
  box-sizing: border-box;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'markpro-medium';
  color: #162359;
  transition: 300ms;
}

.eventinfo__formsection textarea::placeholder, .eventinfo__formsection .--wrapper input[type="text"]::placeholder, .eventinfo__formsection .--wrapper input[type='tel']::placeholder, .eventinfo__formsection .--wrapper input[type='email']::placeholder, .eventinfo__formsection .--wrapper input[type='password']::placeholder {
  color: #CDD1DE;
}

.eventinfo__formsection textarea:focus, .eventinfo__formsection .--wrapper input:focus[type="text"], .eventinfo__formsection .--wrapper input:focus[type='tel'], .eventinfo__formsection .--wrapper input:focus[type='email'], .eventinfo__formsection .--wrapper input:focus[type='password'] {
  outline: none;
  border: 1px solid #4D75F4;
}

.eventinfo {
  box-sizing: border-box;
  min-width: 744px;
  max-width: 744px;
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 70px 177px;
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(22, 35, 89, 0.04);
}

.eventinfo__formsection label.double span {
  font-size: 10px;
  line-height: 13px;
}

.file_delete, .eventinfo__heading__subheading, .eventinfo__footer .--notification .--text {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}

.eventinfo__formsection label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.eventinfo__formsection textarea, .eventinfo__formsection .--wrapper .--singleselect .--item *, .eventinfo__formsection .--wrapper input[type="text"], .eventinfo__formsection .--wrapper input[type='tel'], .eventinfo__formsection .--wrapper input[type='email'], .eventinfo__formsection .--wrapper input[type='password'] {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.eventinfo__heading__header {
  line-height: 34px;
  font-size: 28px;
}

.eventinfo {
  padding: 70px 192px;
}

.eventinfo .--more-margin {
  margin-bottom: 50px;
}

.eventinfo__heading {
  margin-bottom: 50px;
}

.eventinfo__heading__header {
  font-weight: bold;
  font-family: 'markpro-bold';
  color: #162359;
}

.eventinfo__heading__subheading {
  font-family: 'markpro-medium';
  color: #8990AC;
}

.eventinfo__heading__subheading span {
  color: #4D75F4;
  cursor: pointer;
}

.eventinfo__formsection {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.eventinfo__formsection textarea {
  border: 1px solid #CDD1DE;
  width: 360px;
  height: 50px;
  min-height: 103px;
  background: #F7F8FC;
}

.eventinfo__formsection textarea:focus {
  outline: none;
  border: 1px solid #4D75F4;
  background: #EDF1FE;
}

.eventinfo__formsection label {
  color: #767E9F;
  margin-bottom: 15px;
  text-transform: capitalize;
  font-family: 'markpro-medium';
}

.eventinfo__formsection label.double {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  color: #767E9F;
}

.eventinfo__formsection label.double span {
  margin-top: 7px;
  color: #767E9F;
}

.eventinfo__formsection .--wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.eventinfo__formsection .--wrapper .--singleselect .--item .css-1hb7zxy-IndicatorsContainer, .eventinfo__formsection .--wrapper .--singleselect .--item .css-1wy0on6 {
  background: #F7F8FC;
  cursor: pointer !important;
}

.eventinfo__formsection .--wrapper .--singleselect .--item .css-g1d714-ValueContainer, .eventinfo__formsection .--wrapper .--singleselect .--item .css-1hwfws3 {
  background: #F7F8FC;
  padding-left: 20px;
  cursor: text;
}

.eventinfo__formsection .--wrapper .--singleselect .--item .css-1wa3eu0-placeholder {
  color: #CDD1DE;
}

.eventinfo__formsection .--wrapper .--singleselect .--item input {
  height: 36px;
}

.eventinfo__formsection .--wrapper .--singleselect .--item * {
  transition: 500ms !important;
  color: #162359;
  font-family: markpro-medium;
}

.eventinfo__formsection .--wrapper input[type="text"], .eventinfo__formsection .--wrapper input[type='tel'], .eventinfo__formsection .--wrapper input[type='email'], .eventinfo__formsection .--wrapper input[type='password'] {
  width: 360px;
  height: 50px;
  border: 1px solid #CDD1DE;
  background: #F7F8FC;
}

.eventinfo__formsection .--wrapper input[type="text"]::placeholder, .eventinfo__formsection .--wrapper input[type='tel']::placeholder, .eventinfo__formsection .--wrapper input[type='email']::placeholder, .eventinfo__formsection .--wrapper input[type='password']::placeholder {
  color: #CDD1DE;
}

.eventinfo__formsection .--wrapper input[type="text"]:focus, .eventinfo__formsection .--wrapper input[type='tel']:focus, .eventinfo__formsection .--wrapper input[type='email']:focus, .eventinfo__formsection .--wrapper input[type='password']:focus {
  outline: none;
  border: 1px solid #4D75F4;
  background: #EDF1FE;
}

.eventinfo__formsection .--wrapper input[type="text"][name='password'], .eventinfo__formsection .--wrapper input[type="text"][type='date'], .eventinfo__formsection .--wrapper input[type='tel'][name='password'], .eventinfo__formsection .--wrapper input[type='tel'][type='date'], .eventinfo__formsection .--wrapper input[type='email'][name='password'], .eventinfo__formsection .--wrapper input[type='email'][type='date'], .eventinfo__formsection .--wrapper input[type='password'][name='password'], .eventinfo__formsection .--wrapper input[type='password'][type='date'] {
  text-transform: none;
}

.eventinfo__formsection .--wrapper .-ant-picker {
  background: #F7F8FC;
}

.eventinfo__footer {
  display: flex;
  flex-direction: column;
}

.eventinfo__footer .--notification {
  display: flex;
  margin-bottom: 50px;
  margin-left: 10px;
}

.eventinfo__footer .--notification img {
  margin-top: -27px;
  margin-right: 10px;
}

.eventinfo__footer .--notification .--text {
  max-width: 292px;
  font-family: 'markpro-medium';
  color: #8990AC;
}

.eventinfo__footer .--notification .--text span {
  color: #4D75F4;
}

.eventinfo__footer .--button_group {
  display: flex;
  justify-content: space-between;
}

.eventinfo__footer .--button_group .cancel {
  width: 108.22px;
  height: 50px;
  background: #F5F5F9;
  font-family: 'markpro-bold';
  color: #162359;
}

.eventinfo__footer .--button_group .next {
  width: 183px;
  height: 50px;
  background: #4D75F4;
  font-family: 'markpro-bold';
  color: white;
}

.react-tel-input .flag-dropdown {
  background: white !important;
  border: none !important;
}
