@font-face {
  font-family: 'markpro-bold';
  src: url("../Fonts/FontFont_FF.Mark.Pro.Bold.otf");
}

@font-face {
  font-family: 'markpro-medium';
  src: url("../Fonts/FontFont_FF.Mark.Pro.Medium.otf");
}

@font-face {
  font-family: 'markpro-regular';
  src: url("../Fonts/FontFont_FF.Mark.Pro.otf");
}

.ant-message-custom-content.ant-message-error > span:nth-child(2) {
  font-family: 'markpro-medium' !important;
  color: #162359;
}

.--underline {
  text-decoration: underline;
}

.link {
  text-decoration: none;
}

.css-1okebmr-indicatorSeparator {
  display: none;
}

.ant-modal-header {
  font-family: 'markpro-medium';
}

.ant-btn {
  font-family: 'markpro-medium';
}

.ant-picker input::placeholder {
  color: #CDD1DE !important;
}

.file_delete {
  color: red;
  font-family: 'markpro-medium';
  margin-top: 17px;
  cursor: pointer;
  margin-bottom: 4px;
}

.file_delete img {
  transition: 300ms;
  margin-right: 5px;
}

.file_delete span {
  display: inline-block;
}

.file_delete:hover img {
  transform: scale(1.2);
}

.file_delete:active img {
  transform: scale(1.1);
}

.file_delete {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}

.frontpage__textcontent__subheader {
  line-height: 27px;
  font-size: 18px;
}

.frontpage__textcontent__header {
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 120%;
}

@font-face {
  font-family: 'markpro-bold';
  src: url("../Fonts/FontFont_FF.Mark.Pro.Bold.otf");
}

@font-face {
  font-family: 'markpro-medium';
  src: url("../Fonts/FontFont_FF.Mark.Pro.Medium.otf");
}

@font-face {
  font-family: 'markpro-regular';
  src: url("../Fonts/FontFont_FF.Mark.Pro.otf");
}

.frontpage {
  display: flex;
  padding: 200px 150px 115px;
  margin-bottom: 85px;
  background: #F0FDF6;
  justify-content: space-between;
  align-items: flex-end;
}

.frontpage__textcontent {
  max-width: 539px;
}

.frontpage__textcontent__header {
  font-family: 'markpro-bold';
  color: #162359;
  margin-bottom: 30px;
}

.frontpage__textcontent__subheader {
  color: #8990AC;
  line-height: 30px;
  font-family: 'markpro-medium';
}
