@font-face {
  font-family: 'markpro-bold';
  src: url("../Fonts/FontFont_FF.Mark.Pro.Bold.otf");
}

@font-face {
  font-family: 'markpro-medium';
  src: url("../Fonts/FontFont_FF.Mark.Pro.Medium.otf");
}

@font-face {
  font-family: 'markpro-regular';
  src: url("../Fonts/FontFont_FF.Mark.Pro.otf");
}

.ant-message-custom-content.ant-message-error > span:nth-child(2) {
  font-family: 'markpro-medium' !important;
  color: #162359;
}

.--underline {
  text-decoration: underline;
}

.link {
  text-decoration: none;
}

.css-1okebmr-indicatorSeparator {
  display: none;
}

.ant-modal-header {
  font-family: 'markpro-medium';
}

.ant-btn {
  font-family: 'markpro-medium';
}

.ant-picker input::placeholder {
  color: #CDD1DE !important;
}

.file_delete {
  color: red;
  font-family: 'markpro-medium';
  margin-top: 17px;
  cursor: pointer;
  margin-bottom: 4px;
}

.file_delete img {
  transition: 300ms;
  margin-right: 5px;
}

.file_delete span {
  display: inline-block;
}

.file_delete:hover img {
  transform: scale(1.2);
}

.file_delete:active img {
  transform: scale(1.1);
}

.file_delete {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}

.pdftab .ant-upload-list.ant-upload-list-text {
  display: none;
}

.pdftab__images {
  display: flex;
  justify-content: space-between;
}

.pdftab__images .pdftab__images__image_wrapper {
  margin: 15px 0 30px;
  position: relative;
}

.pdftab__images__image {
  width: 124;
  height: 118px;
  object-fit: cover;
}

.pdftab__images__text {
  font-family: 'markpro-medium';
  color: #162359;
}

.pdftab__images .delete {
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
  transition: 300ms;
}

.pdftab__images .delete:hover {
  transform: scale(1.2);
}

.pdftab__images .delete:active {
  transform: scale(1.1);
}
