// imports
@import '../../../stylesheets/colors';
@import '../../../stylesheets/utilities';
@import '../../../stylesheets/fonts';


.navigation-dropdown {
    .dropdown-content{
        width: 127px;
        box-sizing: border-box;
        width: 127px;
        height: 40px;
        display: flex;
        align-items: center;
        padding: 19px 14px;
        font-family: 'markpro-medium';
        cursor: pointer;
        color: #162359;
        @extend %fourteenpx;
        .profileimage{
            fill: #162359;
        }
    
        &:hover{
            background: #EDF1FE;
            color: #4D75F4;
        }
        &:hover .profileimage{
            fill: #4D75F4;
        }
        &__image{
            margin-right: 8px;
        }
    }
}
// main styles
.navigation {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
    font-family: markpro-medium;
    background: white;
    position: sticky;
    top: 0;

    .navigation__menu {
        display: flex;
        align-items: center;
        
        .profilepicture__container{
            display: flex;
            margin-right: 30px;
            cursor: pointer;
            img.profilepicture{
                width: 34px;
                height: 34px;
                border-radius: 50%;
                margin-right: 15px;
            }
            img.arrow{

            }
        }
        .navigation__menu__item {
            margin-right: 35px;
            color: $dark-blue;
            line-height: 18px;
            cursor: pointer;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
        }

        .navigation__menu__item.--filledbutton {
            @extend %filled-button;
            width: 133px;
            height: 40px;
            margin-right: 15px;
        }

        .navigation__menu__item.--outlinedbutton {
            @extend %outlined-button;
            width: 133px;
            height: 40px;
            margin-right: 15px;
        }

    }
}

// import breakpoints
@import './breakpoints';
