@import '../../../../stylesheets/colors';
@import '../../../../stylesheets/utilities';
@import '../../../../stylesheets/fonts';

$left-item-width: 515px;
$right-item-width: 597px;;

.profilecontent{
    .ant-upload-list.ant-upload-list-text{
        display: none;
    }
    max-width: 1140px;
    margin: 0 auto 110px;
    display: flex;
    justify-content: space-between;

    .noitem{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px 0;

        &__image{
            margin-bottom: 15px;
        }

        &__header{
            color: #162359;
            @extend %fifteenpx;
            margin-bottom: 10px;
            font-family: 'markpro-bold';
        }

        &__textcontent{
            color: #767E9F;
            font-family: 'markpro-regular';
            max-width:  268px;
            @extend %thirteenpx;
            margin-bottom: 22px;
        }

        &__action{
            @extend %outlined-button;
            padding: 0px 35px;
            min-height: 50px;
            box-sizing: border-box;
        }
    }
    .previous_publication{
        margin-bottom: 25px;

        .previous_publication__type{
            color: #A1A8C1;
            @extend %tenpx;
            font-family: 'markpro-medium';
            
            span{
                color: #767E9F;
                margin-right: 8px;
            }
            margin-bottom: 5px;
        }
    
        .previous_publication__title{
            color: #162359;
            @extend %fifteenpx;
            font-weight: bold;
            margin-bottom: 3px;
            font-family: 'markpro-bold';
        }
    
        .previous_publication__link{
            font-family: 'markpro-medium';
            color: #4D75F4;
    
            &:hover{
                color: #4D75F4;
            }
        }
    }


    .media_wrapper{
        position: relative;
        margin-bottom: 10px;


        .delete_media{
            position: absolute;
            bottom: 10px;
            right: 7px;
            cursor: pointer;
            transition: 300ms;

            &:hover{
                transform: scale(1.12);
            }

            &:active{
                transform: scale(1.05);
            }
        }
    }
    .adminfooter{
        display: flex;
        justify-content: space-between;
        .actiongroup{
            display: flex;
        }
        .cancel{
            @extend %filled-button;
            width: 108.22px;
            height: 40px;
            background: #F5F5F9;
            font-family: 'markpro-bold';
            color: $dark-blue;
            margin-right: 15px;
        }
        
        .save{
            @extend %filled-button;
            width: 108.22px;
            height: 40px;
            background: $light-blue;
            font-family: 'markpro-bold';
            color: white
        }

        .addmedia{
            @extend %outlined-button;
            height: 40px;
            padding: 12px 35px;
            margin-right: 10px;

            img{
                margin-right: 10px;
            }
        }

    }

    &__left{
        &__reason{
            width: $left-item-width;
            padding: 25px 30px;
            background: #FFFFFF;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            margin-bottom: 20px;
        }

        &__speaking{
            width: $left-item-width;
            margin-bottom: 25px;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
            &__tab_content{
                &:first-of-type{
                    margin-bottom: 23px;
                }
                margin-top: 15px;
                .tab_content_heading{
                    color: #767E9F;
                    font-family: 'markpro-medium';
                    @extend %twelvepx;
                    margin-bottom: 10px;
                }
                .tab_content_subheading{
                    color: $dark-blue;
                    @extend %fifteenpx;
                    font-family: 'markpro-bold';
                    text-transform: capitalize;
                    margin-bottom: 15px;
                }
                .tab_content_content{
                    display: flex;
                    flex-wrap: wrap;

                    .skillitem{
                        height: 25px;
                        background: #F7F8FC;
                        border: 0.3px solid #CDD1DE;
                        box-sizing: border-box;
                        border-radius: 3px;
                        font-family: 'markpro-regular';
                        @extend %thirteenpx;
                        color: $dark-blue;
                        padding: 0px 10px;
                        margin-right: 10px;
                        margin-bottom: 10px;
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }

        &__socialmedia{
            border-radius: 10px;
            margin-bottom: 40px;
            background: #FFFFFF;
            width: $left-item-width;
            padding: 25px 30px;
            display: flex;
            justify-content: space-between;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
            align-items: center;
            span{
                vertical-align: middle;
                color: $dark-blue;
                font-family: 'markpro-bold';
                @extend %eighteenpx;
                margin-right: 25px;
            }
            img{
                cursor: pointer;
            }

            .social_content{
                img{
                    margin: 0 10px;
                }
            }
        }

        &__similar{
            .similar_heading{
                color: #767E9F;
                @extend %eighteenpx;
                font-family: 'markpro-bold';
                margin-bottom: 10px;
            }
        }
    }

    &__right{

        &__media{
            width: $right-item-width;
            background: #FFFFFF;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
            border-radius: 10px;

            .image_tab_content{
                display: flex;
                justify-content: space-between;
                margin-top: 15px;
                flex-wrap: wrap;
                .show_media{
                    object-fit: cover;
                    width: 263px;
                    height: 176px;
                    border-radius: 5px;
                }

            }
            .moreimages{
                margin-bottom: 20px;
            }
        }

        &__bio{
            width: $right-item-width;
            padding: 30px;
            background: #FFFFFF;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            margin-bottom: 25px;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
        }

        &__experiences{
            width: $right-item-width;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
            margin-bottom: 25px;

        }

    }
    .experience_tab_content{
        margin-top: 10px;
    }
    .past_experience{
        margin-bottom: 20px;
        &__position{
            color: $dark-blue;
            @extend %fifteenpx;
            font-family: 'markpro-bold';
            margin-bottom: 5px;
        }

        &__company{
            color: $dark-blue;
            font-family: 'markpro-regular';
            margin-bottom: 3px;
            @extend %thirteenpx;
        }

        &__date{
            color: #767E9F;
            @extend %thirteenpx;
            font-family: 'markpro-regular';
        }
    }

    // utilities
    .more{
        width: 64px;
        height: 23px;
        font-family: 'markpro-medium';
        color: $light-blue;
        text-transform: capitalize; 
        background: #EDF1FE;
        border-radius: 3px;    
        @extend %centered-flex;   
        cursor: pointer;
    }
    .--top_heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        margin-bottom: 10px;

        span{
            color: $dark-blue;
            font-family: 'markpro-bold';
            @extend %eighteenpx;
        }
    }

    .--bottom_content{
        color: #767E9F;
        @extend %fifteenpx;
        line-height: 23px;
        font-family: 'markpro-regular';
    }
    .--tabs{
        .ant-tabs{
            background: #FFFFFF;
            border-radius: 10px;
            padding: 25px 30px;
        }
        .ant-tabs-tab {
            margin: 0 40px 0 0;
            padding: 0px 0;
            font-family: 'markpro-bold';
            @extend %eighteenpx;
            color: #A1A8C1;
        }
        .ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before {
            border-bottom: 0px solid #f0f0f0;
        }
        .ant-tabs-top > .ant-tabs-nav .ant-tabs-nav-wrap.ant-tabs-nav-wrap-ping-right::after, .ant-tabs-bottom > .ant-tabs-nav .ant-tabs-nav-wrap.ant-tabs-nav-wrap-ping-right::after, .ant-tabs-top > div > .ant-tabs-nav .ant-tabs-nav-wrap.ant-tabs-nav-wrap-ping-right::after, .ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-nav-wrap.ant-tabs-nav-wrap-ping-right::after {
            opacity: 0;
        }
        .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
            color: $dark-blue;
            font-weight: 500;
        }
        .ant-tabs-ink-bar {
            position: absolute;
            background: $dark-blue;
            pointer-events: none;
        }
    }

    .editicon{
        cursor: pointer;
        width: 45px;
        height: 37px;
        border-radius: 5px;
        transition: 300ms;
        @extend %centered-flex;

        &:hover{
            background: #EDF1FE;
        }

        &:active{
            transform: scale(0.85);
        }
    }
}