@import '../../../../stylesheets/colors';
@import '../../../../stylesheets/utilities';

.personaldetails{
    @extend %register-tabs-styles;

    &__heading{
        margin-bottom: 50px;
        &__header{
            font-weight: bold;
            font-family: 'markpro-bold';
            color: $dark-blue;
            @extend %twentyeightpx;
        }
        &__subheading{
            @extend %thirteenpx;
            font-family: 'markpro-medium';
            color: $light-navy-blue;

            span{
                color: $light-blue;
                cursor: pointer;
            }
        }
    }

    &__formsection{
        display: flex;
        flex-direction: column;

        .--wrapper{
            display: flex;
            .--singleselect{
                .--item{
                    .css-1hb7zxy-IndicatorsContainer, .css-1wy0on6{
                        background: white;
                        cursor: pointer !important;
                    }
                    .css-g1d714-ValueContainer, .css-1hwfws3{
                        background: white;
                        padding-left: 20px;
                        cursor: text;
                        height: 51px;
                    }
                    .css-1wa3eu0-placeholder{
                        color: $light-navy-blue_two;
                        // opacity: .4;
                    }
                    input{
                        width: 360px;
                    }
                    *{
                        transition: 500ms !important;
                        color: $dark-blue;
                        font-family: markpro-medium;
                        @extend %sixteenpx;
                    }
                }
                .--item.--cream{
                    .css-1hb7zxy-IndicatorsContainer, .css-1wy0on6{
                        background: #F7F8FC;
                        transition: 500ms !important;
                        cursor: pointer !important;
                    }
                    .css-g1d714-ValueContainer, .css-1hwfws3{
                        background: #F7F8FC;
                        padding-left: 20px;
                        cursor: text;
                        height: 51px;
                    }
                }
            }
            
            .--passwordinput{
                display: flex;
                align-items: center;
                text-transform: none;

                i{
                    margin-left: -34px;
                    cursor: pointer;
                    color: $grey;
                }
            }

            flex-direction: column;
            margin-bottom: 30px;
            .--gendersection{
                display: flex;
                justify-content: space-between;
            }
            label{
                color: $grey;
                @extend %fourteenpx;
                font-family: 'markpro-medium';
                margin-bottom: 15px;
            }
            input[type="text"], input[type='tel'], input[type='email'],input[type='password']{
                @extend %sixteenpx;
                width: 390px;
                height: 50px;
                @extend %input-styles;
                border: 1px solid $light-navy-blue_two;
                background: #F7F8FC;

                &::placeholder{
                    color: $light-navy-blue_two;
                }

                &:focus{
                    outline: none;
                    border: 1px solid $light-blue;

                }
                &[name='password'], &[type='date']{
                    text-transform: none;
                }
            }
            .ant-picker{
                background: #F7F8FC;
                & input{
                    &::placeholder{
                        color: $light-navy-blue_two;
                    }
                }
            }
            &.--date{
                .react-tel-input .country-list{
                    width: 391px;
                }
                input{
                    width: 341px !important;
                    margin-left: 50px;
                }
                ul.country-list span{
                    color: #767e9f;
                    font-family: 'markpro-medium';
                }

                ul.country-list li[aria-selected="true"] span{
                    color: $dark-blue !important;
                }
                ul.country-list li[aria-selected="true"]{
                    background-color: #edf1fe;
                }
            }
            @extend %input-date;

        }
    }

    &__footer{
        display: flex;
        flex-direction: column;
        .--notification{
            display: flex;
            margin-bottom: 50px;
            margin-left: 10px;
            img{
                margin-top: -27px;
                margin-right: 10px
            }
            .--text{
                max-width: 292px;
                @extend %thirteenpx;
                font-family: 'markpro-medium';
                color: #8990AC;
                span{
                    color: $light-blue;
                }
            }
        }
        .--button_group{
            display: flex;
            justify-content: space-between;
            
            .cancel{
                @extend %filled-button;
                width: 108.22px;
                height: 50px;
                background: #F5F5F9;
                font-family: 'markpro-bold';
                color: $dark-blue;
            }

            .next{
                @extend %filled-button;
                width: 108.22px;
                height: 50px;
                background: $light-blue;
                font-family: 'markpro-bold';
                color: white
            }
        }
    }
}

.react-tel-input .flag-dropdown {
    background: white !important;
    border: none !important;

}