@import '../../../../stylesheets/colors';
@import '../../../../stylesheets/utilities';

.expertise{
    @extend %register-tabs-styles;

    &__heading{
        margin-bottom: 50px;
        &__header{
            font-weight: bold;
            font-family: 'markpro-bold';
            color: $dark-blue;
            @extend %twentyeightpx;
        }
    }
}