@import '../../../stylesheets/colors';
@import '../../../stylesheets/utilities';
@import '../../../stylesheets/fonts';

.updates.publications{
    position: relative;
    .ant-picker{
        background: white !important;
        border-radius: 5px !important;
        box-shadow: none !important;
        input{
            width: unset !important;
            border: none !important;
            height: 44px !important;
            padding: 11px !important;
        }
    }
    .ant-picker.ant-picker-focused{
        box-shadow: none !important;
    }

    .form_close{
        position: absolute;
        height: 26px;
        right: 14px;
        top: 14px;
        cursor: pointer;
        transition: 300ms;
    }

    .--singleselect{
        .--item{
            .css-1hb7zxy-IndicatorsContainer, .css-1wy0on6{
                background: white;
                cursor: pointer !important;
            }
            .css-g1d714-ValueContainer, .css-1hwfws3{
                background: white;
                padding-left: 20px;
                cursor: text;
                height: 51px;
            }
            .css-1wa3eu0-placeholder{
                color: $light-navy-blue_two;
                // opacity: .4;
            }
            input{
                height: 36px;
            }
            *{
                transition: 500ms !important;
                color: $dark-blue;
                font-family: markpro-medium;
                @extend %sixteenpx;
            }
        }
        .--item.--cream{
            .css-1hb7zxy-IndicatorsContainer, .css-1wy0on6{
                background: #F7F8FC;
                transition: 500ms !important;
                cursor: pointer !important;
            }
            .css-g1d714-ValueContainer, .css-1hwfws3{
                background: #F7F8FC;
                padding-left: 20px;
                cursor: text;
                height: 51px;
            }
        }
    }

}