@import '../../stylesheets/colors';
@import '../../stylesheets/utilities';
@import '../../stylesheets/fonts';

.passwordwrapper{
    background: #F5F5F9;
    min-width: 100%;
    min-height: 100vh;

    .ant-select-selector{
        height: 50px !important;
        display: flex;
        align-items: center;
        border-radius: 5px !important;
        border: 1px solid #CDD1DE !important; 
        padding: 0 20px !important;
        font-family: 'markpro-medium';
        color: $dark-blue !important;
        width: 360px !important;
    }

    .passwordtab{
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(22, 35, 89, 0.04);
        border-radius: 10px;
        padding: 70px 150px ;
        max-width: 673px;
        margin: 10vh auto;
        box-sizing: border-box;
        position: relative;

        &__close{
            position: absolute;
            top: 25px;
            right: 25px;
            cursor: pointer;
        }

        &__headingsection{
            margin-bottom: 35px;
        }

        &__header{
            @extend %twentyeightpx;
            color: $dark-blue;
            font-family: 'markpro-bold';
        }

        &__subheader{
            color: #8990AC;
            @extend %fourteenpx;
            font-family: 'markpro-medium';
            margin-top: 10px;
        }

        &__formsection{
            margin-bottom: 25px;
            display: flex;
            flex-direction: column;

            .inputwrapper{
                margin-bottom: 25px;
                label{
                    display: block;
                    @extend %fourteenpx;
                    color:$grey;
                    margin-bottom: 5px;
                    font-family: 'markpro-medium';
                }
                input{
                    @extend %input-styles;
                    @extend %sixteenpx;
                    border: 1px solid #CDD1DE;
                    background-color: white;
                    width: 360px;
                    height: 50px;
                }
            }
        }

        &__submit{
            @extend %filled-button;
            padding: 0 35px;
            height: 50px;
            width: fit-content;
        }
    }
    

}

.select-dropdown{
    height: 50px !important;
    display: flex !important;
    align-items: center !important;
    padding: 0 20px !important;
    color: #162359 !important;
    font-family: 'markpro-medium';
}
.select-dropdown:hover{
    background: #EDF1FE !important;
}
.select-dropdown[aria-selected="true"]{
    background: #EDF1FE !important;
    color: #4D75F4 !important;
}
.ant-select-open{
    border: 0.5px solid $light-blue  !important;
    box-shadow: none !important;
    outline: none !important;
    border-radius: 5px !important;
}
.ant-select-focused{
    border: 1px solid $light-blue !important;
    box-shadow: none !important;
    outline: none !important;
    border-radius: 5px !important;
}