// import the dependencies
@import '../../../../stylesheets/colors';
@import '../../../../stylesheets/utilities';
@import '../../../../stylesheets/fonts';

.filter.--speakerspage{
    margin-bottom: 92px;

    .filter__top{
        background-image: url('../../assets/speakerMicrophone.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-color: #EDF1FE;
        background-attachment: fixed;
        background-position: 50% 40%;
    }
    .filter__header{
        @extend %fiftyfivepx;
        text-align: center;
        margin-bottom: 25px;
    }
    .filter__subheader{
        max-width: 642px;
        color: $light-navy-blue;
        @extend %eighteenpx;
        text-align: center;
        font-family: 'markpro-medium';
    }
    .filter__results{
        margin-bottom: 26px;
        display: grid;
        grid-template-columns: 26% 26% 26% 26%;
    }

}