// define the color palette
$background: #F5F5F9;
$light-blue: #4D75F4;
$dark-blue: #162359;
$light-grey: #B8BED0;
$lightest-grey: #F4F5F9;
$grey: #767E9F;
$light-navy-blue: #8990AC;
$light-navy-blue_two: #CDD1DE;
$light-green-two: #F1FCF6;
