@import './colors';
@import './fonts';

.--underline{
    text-decoration: underline;
}
.link{
    text-decoration: none;
}

%divider{
    border: 0.05px solid $light-navy-blue_two;
    margin-bottom: 11px;
    width: 100%;
}

%centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

%filled-button {
    @extend %centered-flex;
    background: $light-blue;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: markpro-bold;
    font-size: 15px;
}

%outlined-button {
    @extend %centered-flex;
    border-radius: 5px;
    border: 1px solid $light-blue;
    box-sizing: border-box;
    color: $light-blue;
    cursor: pointer;
    font-family: markpro-bold;
    font-size: 15px;
    line-height: 19px;
}

%input-date {
    input[type="date"] {
        background:#F7F8FC url('../assets/calendar.svg') 94% 50% no-repeat ;
    }
    input[type="date"]::-webkit-inner-spin-button {
        display: none;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;
        cursor: pointer;
    }
    input[type="date"]::-webkit-clear-button { display: none; }
}

%input-styles {
    box-sizing: border-box;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'markpro-medium';
    color: $dark-blue;
    transition: 300ms;

    &::placeholder{
        color: $light-navy-blue_two;
    }

    &:focus{
        outline: none;
        border: 1px solid $light-blue;

    }

}

%register-tabs-styles{
    box-sizing: border-box;
    min-width: 744px;
    max-width: 744px;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 70px 177px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(22, 35, 89, 0.04);
}


// define font progressions
%tenpx{
    font-size: 10px;
    line-height: 13px;
}
%elevenpx{
    font-size: 11px;
    line-height: 14px;
}

%twelvepx{
    font-size: 12px;
    line-height: 15px;
}

%thirteenpx{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
}

%fourteenpx{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

%sixteenpx{
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

%eighteenpx{
    line-height: 27px;
    font-size: 18px;
}

%twentyfourpx{
    line-height: 34px;
    font-size: 24px;
}

%twentyeightpx{
    line-height: 34px;
    font-size: 28px;
}

%thirtysixpx{
    font-size: 36px;
    line-height: 46px;
}

%fourtypx{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;
}

%fiftyfivepx{
    font-weight: bold;
    font-size: 55px;
    line-height: 70px;
}