@import './colors';
@import './fonts';

.--underline{
    text-decoration: underline;
}

%centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

%filled-button {
    @extend %centered-flex;
    background: $light-blue;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: markpro-bold;
    font-size: 15px;
}

%outlined-button {
    @extend %centered-flex;
    border-radius: 5px;
    border: 1px solid $light-blue;
    box-sizing: border-box;
    color: $light-blue;
    cursor: pointer;
    font-family: markpro-bold;
    font-size: 15px;
    line-height: 19px;
}


// define font progressions
%eighteenpx{
    line-height: 23px;
    font-size: 18px;
}