@import './colors';
@import './fonts';

.--underline{
    text-decoration: underline;
}

%divider{
    border: 0.05px solid $light-navy-blue_two;
    margin-bottom: 11px;
    width: 100%;
}

%centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

%filled-button {
    @extend %centered-flex;
    background: $light-blue;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: markpro-bold;
    font-size: 15px;
}

%outlined-button {
    @extend %centered-flex;
    border-radius: 5px;
    border: 1px solid $light-blue;
    box-sizing: border-box;
    color: $light-blue;
    cursor: pointer;
    font-family: markpro-bold;
    font-size: 15px;
    line-height: 19px;
}


// define font progressions
%elevenpx{
    font-size: 11px;
    line-height: 14px;
}
%fourteenpx{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

%eighteenpx{
    line-height: 27px;
    font-size: 18px;
}

%twentyfourpx{
    line-height: 34px;
    font-size: 24px;
}

%thirtysixpx{
    font-size: 36px;
    line-height: 46px;
}

%fourtypx{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;
}

%fiftyfivepx{
    font-weight: bold;
    font-size: 55px;
    line-height: 70px;
}