@import './colors';
@import './fonts';
@import './utilities';

.filter{

    .ant-spin-spinning{
        margin: auto;
    }
    @extend %centered-flex;
    flex-direction: column;

    &__header{
        padding: 0 150px;
        color: $dark-blue;
        margin-bottom: 50px;
        font-family: markpro-bold;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 51px;
    }

    &__filter__search{
        @extend %centered-flex;
        margin-bottom: 35px;

        .inputgroup{
            display: flex;
            align-items: center;
            padding-left: 20px;
        }
        
        &__input{
            background-position: 20px 50%;
            width: 588px;
            height: 52px;
            border: 1px solid $light-grey;
            border-radius: 5px 0px 0px 5px;
            box-sizing: border-box;
            @extend %eighteenpx;
            font-size: 16px;
            padding: 18px 20px;
            padding-left: 50px;
            color: $dark-blue;
            outline: none;
            background-image: url('../assets/search.svg');
            font-family: 'markpro-medium';
            background-repeat: no-repeat, repeat;
            transition: 300ms;
            
            &:focus{
                border: 1px solid $light-blue;
                background-image: url('../assets/searchActive.svg');

            }
            
            &:hover{
                outline: none;
            }
        }

        &__button{
            @extend %filled-button;
            border-radius: 0px 5px 5px 0px;
            width: 125px;
            height: 52px;
        }

    }

    &__filter__select{
        background: $lightest-grey;
        margin-bottom: 50px;
        width: 1140px;
        height: 205px;
        border-radius: 10px;
        padding: 26px 35px 35px 35px;
        box-sizing: border-box;
        
        &__items{
             display: flex;
             justify-content: space-between;
             margin-bottom: 25px;

            .--item{
                width: 191px;
                height: 45px;
                .css-tlfecz-indicatorContainer{
                    cursor: pointer;
                }
                *{
                    color: $dark-blue;
                    font-family: markpro-medium;
                    font-size: 14px;
                }
            }
        }

        &__icons{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 9px;
            &__icon{
                cursor: pointer;
            }
        }

        .--divider{
            border: 0.05px solid $light-navy-blue-two;
            margin-bottom: 25px;
        }

        &__icons__icon{
            display: flex;
            cursor: pointer;

            .--icon{
                margin-right: 10px;
            }

            .--text{
                @extend %eighteenpx;
                color: $dark-blue;
                font-family: 'markpro-medium'; 
            }
            .--small{
                @extend %thirteenpx;
                color: $dark-blue;
                font-family: 'markpro-medium'; 
            }
        }

    }

    &__results{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 1140px;
    }

    &__more_results{
        @extend %outlined-button;
        // width: 230px;
        // height: 50px;
        padding: 16px 35px 16px 35px;
        border-width: 1.5px;
        justify-content: space-between;
        // padding:0 35px;
        &>span{
            margin-right: 16px;
            margin-left: 16px;
        }
        &>img{
            transform: rotate(90deg);
        }
    }

}
.ant-checkbox-group-item.ant-checkbox-wrapper{
    font-family: 'markpro-medium';
    color: #767E9F;
    @extend %thirteenpx;
    margin-right: 25px;
}
.ant-checkbox-group-item.ant-checkbox-wrapper.ant-checkbox-wrapper-checked{
    color: #162359;
}
.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #162359 !important;
    border-color: #162359 !important;
}

.--multiselect{
    width: 193px;
    .select-panel > div:first-of-type{
        display: none;
    }
    .dropdown-content{
        max-height: 170px !important;
    }
    .dropdown-heading{
        border-radius: 6px !important;
        border: 1px solid #CDD1DE !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px !important;
    }
    .dropdown-heading-value{
        background: #F7F8FC;
        overflow: hidden;
        padding:9px 30px 9px 20px  !important;
        font-family: 'markpro-medium';
        span{
            color: $dark-blue !important;
            @extend %sixteenpx;

        }
        .placeholding_text{
            color: #767E9F !important;
            @extend %sixteenpx;
        }
    }
    .dropdown-heading-dropdown-arrow{
        width: 40px !important;
    }
    &.--white{
        .dropdown-heading-value{
            background: white !important;
        }
    }
    label[aria-selected="true"]{
        background-color: $light-blue !important;
        color: $dark-blue !important;
    }
    label{
        margin-bottom: 1px !important;
        padding: 15px 10px !important;
        .item-renderer{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            span{
                @extend %sixteenpx;
                color: $dark-blue;
            }
        }
    }
}