// import the dependencies
@import '../../../stylesheets/colors';
@import '../../../stylesheets/utilities';
@import '../../../stylesheets/fonts';

.speakerprofile{
    background: #F5F5F9;
    min-height: 100vh;


    &__header_image{
        width: 100%;
        height: 300px;
        overflow: hidden;
        margin-bottom: -40px;
        position: relative;

        img{
            width: 100%;
        }


        &__overlay{
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            @extend %centered-flex;
            background: rgb(0, 0, 0);
            opacity: 0;
            border-radius: 4px;
            transition: 300ms;

            img{
                height: 46px;
                width: 46px;
            }
        }
        &:hover &__overlay{
            opacity: 0.5;
        }
    }

    &__profile_card{
        display: flex;
        justify-content: center;
    }
}