@import '../../../stylesheets/colors';
@import '../../../stylesheets/fonts';
@import '../../../stylesheets/utilities';

.eventcard{
    max-width: 353px;
    min-width: 353px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(22, 35, 89, 0.08);
    border-radius: 10px;
    height: 398px;
    box-sizing: border-box;
    margin-bottom: 70px;

    &__headerimage {
        width: 353px;
        height: 169px;
        box-shadow: 0px 20px 40px rgba(22, 35, 89, 0.03);
        border-radius: 10px 10px 0px 0px;
        &.placeholder{
            background: #EFF1F9;
        }
        img{
            width: 100%;
            height: 169px;
        }
    }

    &__content{
        margin: 0px 25px 30px;
        
        &__preheader{
            display: flex;
            align-items: flex-end;
            margin-bottom: 15px;
            margin-top: -10px;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;  
            overflow: hidden;

            .faux_image{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 10px;
                border: 2.2px solid white;
                img{
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                }
            }


            &__text{
                font-family: 'markpro-medium';
                color: $dark-blue;
                padding-bottom: 8px;

            }
        }
        &__title{
            @extend %eighteenpx;
            line-height: 27px;
            font-style: normal;
            font-weight: bold;
            color: $dark-blue;
            font-family: 'markpro-bold';
            margin-bottom: 15px;
            max-width: 278px;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }

        &__subtitle{
            @extend %thirteenpx;
            font-family: 'markpro-medium';
            margin-bottom: 28px;
            color: #767E9F;
        }

        .divider{
            @extend %divider;

        }
        .--like{
            cursor: pointer;
        }
        &__skills{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 19px;
        }
        &__footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .--left{
                display: flex;
            }
            .--images{
                width: 65px;
                display: flex;
                justify-content: space-between;
                padding-right: 15px;
                border-right: 0.5px solid $light-navy-blue_two;
                margin-right: 15px;
            }
        }
    }


}
