@import '../../../stylesheets/colors';
@import '../../../stylesheets/fonts';
@import '../../../stylesheets/utilities';


.speakercard{
    display: flex;
    flex-direction: column;
    min-width: 262px;
    max-width: 262px;
    // height: 361px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
    // margin: 0 15px;
    margin-bottom: 70px;

    
    %tag{
        position: relative;
        right:25px;
        width: 71px;
        height: 22px;
        background: #FFF5E3;
        border-radius: 10px 0px;
        text-transform: capitalize;
        font-size: 9px;
        line-height: 11px;
        @extend %centered-flex;
        font-family: 'markpro-bold';
        text-transform: uppercase;
    }

    .--premium{
        @extend %tag;
        background: #FFF5E3;;
        color: #D1B072;
    }
    
    .--tagplaceholder{
        @extend %tag;
        background: #EFF1F9;
        color: #EFF1F9;
    }

    &__profile {
        @extend %centered-flex;
        flex-direction: column;
        margin-top: 30px;
        text-transform: capitalize;

        &__picturewrapper{
            // border: 2px solid red;
            width: 93px;
            height: 93px;
            border-radius: 50%;
            .pictureImage{
                width: 93px;
                height: 93px;
                border-radius: 50%;
            }
        }

        &__name{
            color: $dark-blue;
            margin-top: 17px;
            margin-bottom: 17px;
            @extend %eighteenpx;
            font-family: 'markpro-bold';
            text-align: center;
        }

        &__position {
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 14px;
            @extend %centered-flex;
            flex-direction: column;
            line-height: 14px;
            margin-bottom: 25px;

            .--title{
                color: $dark-blue;
                font-family: 'markpro-medium';
            }
            .--company{
                color: $light-navy-blue;
                font-family: 'markpro-regular';
            }
        }

        &__primary{
            display: flex;
            width: 127px;
            height: 25px;
            color: $dark-blue;
            align-items: center;
            font-family: 'markpro-medium';
            @extend %elevenpx;
            background: #EDF1FE;
            border-radius: 3px;
            justify-content: center;
            margin-bottom: 10px;
            img{
                margin-right: 10px;
            }

            &.--primaryplaceholder{
                background: #EFF1F9;
                color: #EFF1F9;
                border-radius: 3px;

                img{
                    display: none;
                }
            }

        }

        &__secondary{
            @extend %twelvepx;
            font-family: 'markpro-bold';
            color: $dark-blue;
            margin-bottom: 10px;
        }

        .--divider{
            border: 0.05px solid $light-navy-blue_two;
            margin-bottom: 11px;
            width: 100%;
        }

        &__skills{
            @extend %centered-flex;
            flex-wrap: wrap;
        }
        &__footer{
            @extend %centered-flex;

            img{
                margin-left: 10px;
            }
        }
    }
}
