@import '../../../stylesheets/colors';
@import '../../../stylesheets/fonts';
@import '../../../stylesheets/utilities';


.speakercard{
    display: flex;
    flex-direction: column;
    min-width: 262px;
    max-width: 262px;
    height: 365px;
    min-height: 395px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
    // margin: 0 15px;
    margin-bottom: 70px;

    *{
        transition: margin 300ms;
    }

    
    %tag{
        transition: 300ms;
        position: relative;
        right:25px;
        width: 71px;
        height: 22px;
        background: #FFF5E3;
        border-radius: 10px 0px;
        text-transform: capitalize;
        font-size: 9px;
        line-height: 11px;
        @extend %centered-flex;
        font-family: 'markpro-bold';
        text-transform: uppercase;
    }

    .--premium{
        @extend %tag;
        background: #FFF5E3;;
        color: #D1B072;
    }
    
    .--tagplaceholder{
        @extend %tag;
        background: #EFF1F9;
        color: #EFF1F9;
    }

    &__profile {
        @extend %centered-flex;
        flex-direction: column;
        margin-top: 30px;
        text-transform: capitalize;

        &__picturewrapper{
            // border: 2px solid red;
            width: 93px;
            height: 93px;
            border-radius: 50%;
            .pictureImage{
                width: 93px;
                height: 93px;
                border-radius: 50%;
            }
        }

        &__name{
            color: $dark-blue;
            margin-top: 17px;
            margin-bottom: 17px;
            @extend %eighteenpx;
            font-family: 'markpro-bold';
            text-align: center;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }

        &__position {
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 14px;
            @extend %centered-flex;
            flex-direction: column;
            line-height: 14px;
            margin-bottom: 25px;

            .--title{
                text-align: center;
                color: $dark-blue;
                font-family: 'markpro-medium';
                
            }
            .--company{
                color: $light-navy-blue;
                font-family: 'markpro-regular';
            }
        }

        &__primary{
            display: flex;
            width: 127px;
            height: 25px;
            color: $dark-blue;
            align-items: center;
            font-family: 'markpro-medium';
            @extend %elevenpx;
            background: #EDF1FE;
            border-radius: 3px;
            justify-content: center;
            margin-bottom: 10px;
            img{
                margin-right: 10px;
            }

            &.--primaryplaceholder{
                background: #EFF1F9;
                color: #EFF1F9;
                border-radius: 3px;

                img{
                    display: none;
                }
            }

        }

        &__secondary{
            @extend %twelvepx;
            font-family: 'markpro-bold';
            color: $dark-blue;
            margin-bottom: 10px;
        }

        .--divider{
            border: 0.05px solid $light-navy-blue_two;
            margin-bottom: 11px;
            width: 100%;
        }

        &__skills{
            @extend %centered-flex;
            flex-wrap: wrap;
        }
        &__sideitems{
            transition: 10s;
            display: none;
            top: 20px;
            flex-direction: column;
            align-items: center;
            position: absolute;

            img:first-of-type{
                margin-bottom: 10px;
            }
            img{
                width: 17.59px;
                // height: 17.59px;
            }

            &.--left{
                left: 20px;
            }
            &.--right{
                right: 20px;
            }
        }

    }

    &__hoveritems{
        display: none;

        &__bio{
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            height: 75px;
            text-overflow: ellipsis;
            @extend %twelvepx;
            font-family: 'markpro-regular';
            color: #767E9F; 
            margin-bottom: 27px;
        }
    }

    &:hover{
        .speakercard__profile__picturewrapper{
            margin-top: -50px;

            &.--premiumwrapper img{
                border: 3px solid #D1B072;
            }
        }
        .speakercard__profile__position,
        .speakercard__profile__primary,
        .speakercard__profile__secondary,
        .speakercard__profile__skills,
        .speakercard__tag
        {
            display: none;
        }
        .speakercard__profile__sideitems{
            display: flex;
        }
        .speakercard__hoveritems{
            display: flex;
            flex-direction: column;
            
            &__information{
                .informationgroup{
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                    &>div{
                        display: inline-block;
                        width: 30px;
                    }
                    span{
                        @extend %twelvepx;
                        font-family: 'markpro-regular';
                        color: #767E9F;
                    }
                }
                margin-bottom: 30px;
            }

            &__action{
                @extend %outlined-button;
                width: 205px;
                height: 35px;
                @extend %thirteenpx;
            }
        }

    }
}
