@import '../../../../stylesheets/colors';
@import '../../../../stylesheets/utilities';

.eventinfo{
    @extend %register-tabs-styles;
    padding: 70px 192px;

    .--more-margin{
        margin-bottom: 50px;
    }

    &__heading{
        margin-bottom: 50px;
        &__header{
            font-weight: bold;
            font-family: 'markpro-bold';
            color: $dark-blue;
            @extend %twentyeightpx;
        }
        &__subheading{
            @extend %thirteenpx;
            font-family: 'markpro-medium';
            color: $light-navy-blue;

            span{
                color: $light-blue;
                cursor: pointer;
            }
        }
    }

    &__formsection{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        textarea{
            @extend %input-styles;
            @extend %sixteenpx;
            border: 1px solid #CDD1DE;
            width: 360px;
            height: 50px;
            min-height: 103px;
            background: #F7F8FC;

            &:focus{
                outline: none;
                border: 1px solid $light-blue;
                background: #EDF1FE;
            }
        }
        label{
            @extend %fourteenpx;
            color:$grey;
            margin-bottom: 15px;
            // text-transform: capitalize;
            font-family: 'markpro-medium';
            &.double{
                margin-bottom: 10px;
                display: flex;
                flex-direction: column;
                color: $grey;
                span{
                    margin-top: 7px;
                    color: $grey;
                    @extend %tenpx;
                }
            }
        }

        .--wrapper{
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;

            .--singleselect{
                .--item{
                    .css-1hb7zxy-IndicatorsContainer, .css-1wy0on6{
                        background: #F7F8FC;
                        cursor: pointer !important;
                    }
                    .css-g1d714-ValueContainer, .css-1hwfws3{
                        background: #F7F8FC;
                        padding-left: 20px;
                        cursor: text;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                    }
                    .css-1wa3eu0-placeholder{
                        color: $light-navy-blue_two;
                        // opacity: .4;
                    }
                    input{
                        height: 36px;
                    }
                    *{
                        transition: 500ms !important;
                        color: $dark-blue;
                        font-family: markpro-medium;
                        @extend %sixteenpx;
                    }
                }
            }

            input[type="text"], input[type='tel'], input[type='email'],input[type='password']{
                @extend %sixteenpx;
                width: 360px;
                height: 50px;
                @extend %input-styles;
                border: 1px solid $light-navy-blue_two;
                background: #F7F8FC;

                &::placeholder{
                    color: $light-navy-blue_two;
                }

                &:focus{
                    outline: none;
                    border: 1px solid $light-blue;
                    background: #EDF1FE;
                }
                &[name='password'], &[type='date']{
                    text-transform: none;
                }
            }
            .-ant-picker{
                background: #F7F8FC;
            }

        }
    }

    &__footer{
        display: flex;
        flex-direction: column;
        .--notification{
            display: flex;
            margin-bottom: 50px;
            margin-left: 10px;
            img{
                margin-top: -27px;
                margin-right: 10px
            }
            .--text{
                max-width: 292px;
                @extend %thirteenpx;
                font-family: 'markpro-medium';
                color: #8990AC;
                span{
                    color: $light-blue;
                }
            }
        }
        .--button_group{
            display: flex;
            justify-content: space-between;
            
            .cancel{
                @extend %filled-button;
                width: 108.22px;
                height: 50px;
                background: #F5F5F9;
                font-family: 'markpro-bold';
                color: $dark-blue;
            }

            .next{
                @extend %filled-button;
                width: 183px;
                height: 50px;
                background: $light-blue;
                font-family: 'markpro-bold';
                color: white
            }
        }
    }
}

.react-tel-input .flag-dropdown {
    background: white !important;
    border: none !important;

}