// import the dependencies
@import '../../../../stylesheets/colors';
@import '../../../../stylesheets/utilities';
@import '../../../../stylesheets/fonts';

.filter.--organiser{
    margin-bottom: 92px;

    .filter__header{
        @extend %fiftyfivepx;
        text-align: center;
        margin-bottom: 25px;
        max-width: 901px;
        padding: 0;
    }
    .filter__top{
        background-image: url('../../assets/organiserIcon.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F0FDF6;
        background-attachment: fixed;
        background-position: 50% 40%;
    }
    .filter__subheader{
        max-width: 706px;
        color: $light-navy-blue;
        @extend %eighteenpx;
        text-align: center;
        font-family: 'markpro-medium';
    }
    .filter__results{
        margin-bottom: 26px;
        display: grid;
        grid-template-columns: 25.8% 25.8% 25.8% 26%;
    }
    .organisercard_wrapper{
        margin-bottom: 50px;
    }

}