
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  min-width: 1455px;

}
.ant-message{
  span{
    font-family: 'markpro-medium';
    color: #162359;
  }
}

.--sticky{
  position: sticky;
  top: 0;
  z-index: 1;
}

.--tilldate{
  margin-top: -15px;
  margin-bottom: 2px;
  display: flex;
  justify-content: flex-end;
  font-family: 13px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span.dropdown-heading-value {
  font-size: 16px;
}

video{
    object-fit: cover;
    width: 263px;
    height: 176px;
}

.--no-border{
  border: 0 !important;
  .css-yk16xz-control{
    border: 0 !important;
  }
  .multi-select{
    .dropdown{
      .dropdown-heading{
        border-width: 0 !important;
      }
    }
  }
}

.css-g1d714-ValueContainer, .css-1hwfws3, .css-1hb7zxy-IndicatorsContainer, .css-1wy0on6{
  border-radius: 5px !important; 
  height: 51px;
}

html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

