// import the dependencies
@import '../../../../stylesheets/colors';
@import '../../../../stylesheets/utilities';
@import '../../../../stylesheets/fonts';

.select-dropdown{
    height: 50px !important;
    display: flex !important;
    align-items: center !important;
    padding: 0 20px !important;
    color: #162359 !important;
    font-family: 'markpro-medium';
}
.select-dropdown:hover{
    background: #EDF1FE !important;
}
.select-dropdown[aria-selected="true"]{
    background: #EDF1FE !important;
    color: #4D75F4 !important;
}
.ant-select-open{
    border: 0.5px solid $light-blue  !important;
    box-shadow: none !important;
    outline: none !important;
    border-radius: 5px !important;
}
.ant-select-focused{
    border: 1px solid $light-blue !important;
    box-shadow: none !important;
    outline: none !important;
    border-radius: 5px !important;
}
.signininputs{
    display: flex;
    flex-direction: column;
    .ant-select-selector{
        height: 50px !important;
        display: flex;
        align-items: center;
        border-radius: 5px !important;
        background: #F7F8FC !important;
        border: 1px solid #CDD1DE !important; 
        padding: 0 20px !important;
        font-family: 'markpro-medium';
        color: $dark-blue !important;
    }

    &__headers{
        margin-bottom: 50px;
        &__heading{
            @extend %twentyeightpx;
            font-family: 'markpro-bold';
            color: $dark-blue;
            margin-bottom: 15px;
        }
    
        &__subheading{
            @extend %twelvepx;
            color: $light-navy-blue;
            font-family: 'markpro-medium';
    
            span{
                cursor: pointer;
                color: $light-blue;
            }
        }
    }

    &__form{
        margin-bottom: 50px;
        span.blue__text{
            color: $light-blue;
            @extend %twelvepx; 
            cursor: pointer;
            font-family: 'markpro-medium';
        }
        .--inputwrapper{
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;

            .--passwordinput{
                display: flex;
                align-items: center;

                i{
                    margin-left: -34px;
                    cursor: pointer;
                    color: $grey;
                }
            }

            label{
                @extend %fourteenpx;
                color: $grey;
                font-family: 'markpro-medium';
                margin-bottom: 15px;
            }

            input{
                @extend %fourteenpx;
                box-sizing: border-box;
                width: 360px;
                height: 50px;
                padding: 20px;
                box-sizing: border-box;
                border-radius: 5px;
                background: #F7F8FC;
                border: 1px solid $light-navy-blue_two;
                font-family: 'markpro-medium';
                color: $dark-blue;
                transition: 300ms;

                &::placeholder{
                    color: $light-navy-blue_two;
                }

                &:focus{
                    outline: none;
                    border: 1px solid $light-blue;

                }
            }
        }
    }

    &__submit{
        @extend %filled-button;
        width: 120px;
        height: 50px;
    }
}