@import '../../stylesheets/colors';
@import '../../stylesheets/utilities';

.organiser_preview{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 255px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    min-height: 349px;
    justify-content: space-between;
    border-radius: 10px;
    

    &__cover{
        width: 255px;
        height: 73px;
        margin-bottom: -42px;
        overflow: hidden;
        img{
            width: 255px;
        }
    }

    &__profile{
        margin-bottom: 20px;
        img{
            border: 2px solid #FFFFFF;
            border-radius: 50%;
            height: 93px;
            width: 93px;
        }
    }

    &__title{
        font-family: 'markpro-bold';
        @extend %eighteenpx;
        color: $dark-blue;
        text-align: center;
        padding: 0 30px;
        margin-bottom: 30px;

        &.--placeholder{
            width: 197.77px;
            height: 18px;
            background: #EFF1F9;
            border-radius: 3px;
        }
    }
    &__specialty{
        width: 116px;
        height: 25px;
        background: #EDF1FE;
        border-radius: 3px;
        color: $dark-blue;
        font-family: 'markpro-bold';
        @extend %elevenpx;
        @extend %centered-flex;
        margin-bottom: 20px;

        &.--placeholder{
            background: #EFF1F9;
        }
    }
    &__skills{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0 22px;
        margin-bottom: 30px;
    }
}